{% extends 'base.html' %}
{% block title %} offline {% endblock %}


{% block content %}
    <div style="margin: 3%; " class="col-11">
            <div class="card" style="">
        <div class="card-header">
            <nav class="navbar bg-light">
              <form class="container-fluid">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
                  <div class="btn btn-outline-warning">
                      <span class="icono-search" style="color:black" id="basic-addon1"></span>
                  </div>
                </div>
              </form>
            </nav>
          </div>

          <ul class="list-group list-group-flush">
              {% for page in pages %}

              <div class="list-group-item d-flex">
                  <a href="{{ page.link }}" class="form-control me-2">{{ page.title }}</a>
                  <button class="btn btn-outline-warning me-2">
                      <span class="icono-rename" style="color: black;"></span>
                  </button>

                  <button class="btn btn-outline-danger me-2">
                      <span class="icono-trash" style="color: black;"></span>
                  </button>
              </div>

              {% endfor %}
          </ul>
        </div>
    </div>

{% endblock %}